body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #073652;
    color: white;
    margin-left: 40px;
    margin-right: 40px;
}

.intro{
    margin-bottom: 100px;
}

.before-and-after-space{
    margin-top: 25px;
    margin-bottom: 25px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    border-bottom: 0.5px solid #0087a7;
    padding-bottom: 15px;
}

h4{ 
    color: #FCAE28;
    font-size: 24px;
}

p{
    color: #0087a7;
    font-size:18px;
    line-height: 28px;
    letter-spacing: 1px;
}
li{
    list-style: none;
    display: inline;
}

.introduction{
    padding-top: 20px;
    letter-spacing: 2px;
}

.highlight{
    
    color: tomato;
}

.center{
    text-align: center;
}

/* Bootstrap Overrides */
.btn-default{
    color: #fff;
    background-color: #0087a7;
    border-color: #0087a7;
    border-radius: 6px;
    padding: 1px 14px;
    font-size: 12px;
}